# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6fdcf06fe7bc63d6a3aff8ad3ff4413cbd1f2e88f1977b710f4b53cacc97ddd57174e34d04d6464f33f0dec06af81d39c36019cb0975de17b4bf6e99955e3b0c

test:
  secret_key_base: a9e8dd36b1ef9957e5a1476f2967a163ca373291028bfd79d8ec962267398a3b12dc55b7919eff409cb837b8b809446b2f782552e7c45f52e824318fbbd9dcba

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
